<ion-header>
  <ion-toolbar>
    <ion-title>tabsweek3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="list-product">
        <ion-label>Bài hát</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="singer">
        <ion-label>Ca sĩ</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="album">
        <ion-label>Album</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>
